{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}







<div class="container ">

    
    <br>
  <div class="row ">

    <div class="col">
     
    </div>
    <div class="col-6">
       <div class="card" style="width: 33rem;">
<img src="{{destination.pretty_picture.url}}" class="d-block w-100 hhhhu">
  <div class="card-body detailcolor">
    <h5 class="card-title">{{destination.name}}</h5>
    <p class="card-text">{{destination.description}}</p>
    <p>{{destination.optimal_visiting_season}}</p>
    <a href="{% url 'destination-delete' destination.id %}" class="btn btn-outline-danger -lg btn-block ">Delete</a>
    <a href="{% url 'destination-update' destination.id %}" class="btn btn-outline-primary -lg btn-block">update</a>
  </div>
</div>
    </div>
    <div class="col">
     
    </div>
  </div>


{% comment %}
    <p>{{destination.name}}</p>
    <p>{{destination.description}}</p>
    <p>{{destination.activities}}</p>

    <p>{{destination.optimal_visiting_season}}</p>
    <a href="{% url 'destination-update' destination.id %}">
        <button>Update</button>
    </a>
    <a href="{% url 'destination-delete' destination.id %}">
        <button>Delete</button>
    </a>

{% endcomment %}



{% endblock content %}



